.job-title {
    margin-bottom: 0;
    font-size: 1.2em;
}

.job-details {
    margin-top: 0.3em;;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.job-address {
    margin-left: 5px;
    font-weight: normal;
}

.job-dates {
    flex-grow: 1;
    text-align: right;
}

.job-bullets {
    line-height: 1.4em;
    margin-top: 0.5em;
}

.job-edit-link, .job-edit-link:hover, .job-edit-link:visited {
    color: #ffffff;
}

@media only screen and (max-width: 640px) {
    .job-details {
        flex-wrap: wrap;
        justify-content: center;
    }
    .job-address, .job-title, .job-dates {
        text-align: center;
    }
    .job-dates {
      width: 100%;
      margin: 5px 0;
    }
    .job-bullets {
        padding-left: 20px;
    }
}