.body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.body-contact {
    color: #fff;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    float: left;
    position: absolute;
    background: rgba(0,0,0,0.7);
}

.body-contact li {
    padding: 5px;
}

.body-main {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.main-container {
    margin: auto;
    padding: 100px 0;
    width: 80%;
    box-sizing: border-box;
}

.body-sidebar {
    width: 600px;
    height: 100%;
    border-left: 1px solid #fff;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.sidebar-title {
    color: #fff;
    text-align: center;
}

.body-mobile-menu {
    display: none;
}

.mobile-title {
    display: none;
    color: #fff;
    margin: 0;
    font-size: 1.6em;
}

@media only screen and (max-width: 1366px) {
    .body-sidebar {
        width: 450px;
    }
}

@media only screen and (max-width: 1024px) {


    .body-container {
        padding: 0;
        height: auto;
    }

    .body-mobile-menu {
        display: block;
    }

    .mobile-title {
        display: block;
    }

    .body-sidebar {
        display: none;
    }

    .body-contact {
        float: none;
        position: relative;
        margin: 10px auto;
        text-align: center;
        font-size: 1.2em;
    }

    .main-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

}